{% extends "base.html" %}
{% block content %}
{%if hasError %} <p><strong><font color="red"> {{hasError}} </font></strong></p> {%endif%}
<h1>Reservez la chambre</h1>
<form method="POST" action="{{url_for('test')}}">

  Nom <input type="text" name="nom" placeholder="Dupont"/><br>
  Prenom <input type="text" name="prenom" placeholder="Martin"/><br>
  E-mail <input type="email" name="mail" placeholder="martin.dupont@ici.fr" required=true/><br>
  Date début <input type="date" name="date_debut"/><br>
  Date fin <input type="date" name="date_debut"><br>
  <input type="submit" value="Soumettre"/>
</form>

<form method="POST" action="{{url_for('accueil')}}">
<input type="submit" value="Retour accueil" />
</form>

{% endblock%}
