{% extends "base.html" %}
{% block content %}
{%if hasError %} <p><strong><font color="red"> {{hasError}} </font></strong></p> {%endif%}
<h1>Reservation de la chambre</h1>
<div class=chambre_sql>
  {%if rows %}
  <ul>
    <li>Numéro de la chambre : {{rows[0][0]}}</li>
    <li>Prix de la chambre : {{rows[0][1]}} €</li>
  </ul>
  {%endif%}
</div>
<h2>Description de la chambre</h2>
<div>
  {% if desc %}
  {% for row in desc %}
  <p>Chambre {{row['nom']}}</p>
  <p>{{row['étage']}}° étage</p>
  <p>Vue sur {{row['vue']}}</p>
  <p>{{row['couchage']}}</p>
  <p>Salle de bain :</p>
  <p>Douche {{row['salle de bain']}}</p>
  <p>Baignoire {{row['salle de bain']}}</p>
  {%endfor%}
  {%endif%}
</div>
<div>
  {% if com %}
  <h2>Commentaires</h2>
  <p>...</p>
  {% for coms in com %}
  <p>Client: {{coms['client_nom']}}</p>
  <p>Le {{coms['date']}}</p>
  <p>Avis sur la chambre:</p>
  <p>{{coms['commentaire']}}</p>
  <br>
  {%endfor%}
  {%endif%}
</div>
<h1>Choix des dates</h1>
<form method="POST" action="{{url_for('bravo')}}">
  Date début <input type="date" name="date_debut"/><br>
  Date fin <input type="date" name="date_fin"><br>
  <input type="submit" value="Soumettre"/>
</form>

<form method="POST" action="{{url_for('accueil')}}">
<input type="submit" value="Retour accueil" />
</form>


{% endblock%}
